<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>


<!-- CODIGO HTML DO HEADER  -->
<header id="header-top" th:fragment="header(foto1,foto2,foto3,cont,link1,link2,link3,link4)">
    <a th:href="${link4}" id="header-top__logo">
        <img th:src="'/assets/images-statics/' + ${foto1}+'.png'" alt="Digital Store" title="Logomarca do sistema" />
    </a>
    <section id="header-top__search">
        <form action="#" method="get">
            <input type="text" name="s" placeholder="Pesquisar produto..." />
            <button>
                <img th:src="'/assets/images-statics/'+ ${foto2}+'.png'" alt="Lupa" title="Pesquisar" />
            </button>
        </form>
    </section>
    <section id="header-top__links">
        <a th:href="${link2}">Cadastre-se</a>
        <a th:href="${link3}">Entrar</a>
    </section>
    <section id="header-top__cart">
        <a th:href="${link1}" th:data-value = "${cont}">
            <img th:src="'/assets/images-statics/' + ${foto3}+'.png'" alt="Carrinho" title="Carrinho" />
        </a>
    </section>
</header>




<!-- CODIGO HTML DO header not search  -->
<section id="top2" th:fragment="notSearch(foto1,linkindex)">
    <a th:href="${linkindex}" id="top2__logo2" >
        <img th:src="'/assets/images-statics/' + ${foto1}+'.png'" alt="Digital Store" title="a do sistema" />
    </a>
</section>




<!-- CODIGO HTML DO EM ALTA  -->

<section th:fragment="Emalta(eletrosList,test)" id="EmAlta" >

        <div id="title" th:if="${test =='index'}">
            <h1 >Produtos em alta</h1>

        </div>

        <section  id="items" >
                <div  id="item"   th:each="eletros : ${eletrosList}"  th:if="${eletros.deletado == null}" >
                    <div id="boxImage">
                        <img th:src="@{'/images/img-uploads/'+*{eletros.imageUri}}" >
                    </div>
                    <span id="category" th:text="${eletros.tipo}"></span>

                    <div id="price">
                        <h3>R$</h3>
                        <h3 th:text="${eletros.preco}" th:value="${eletros.preco}"></h3>
                        <a th:if="${test =='index'}" th:href="@{'addCarrinho/' + ${eletros.id}}"><button id="add_cart">+</button></a>
                    </div>
                </div>
        </section>


</section>




<!-- CODIGO HTML DO ITEM DO EM ALTA nao conseegui ainda  -->




<!-- CODIGO HTML DO FOOTER  -->

<footer th:fragment="footer(logofooter,face,insta,twitter)" id="container-footer">

    <div id="container-columns">
        <div id="column1">
            <div id="digital-store">
                    <img th:src="'/assets/images-statics/' + ${logofooter}+'.png'" id="logo-footer" />
                <h1></h1>
            </div>
            <div id="footer-lorem">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore.</span>
            </div>
            <div id="social-media">
                <a><img th:src="'/assets/images-statics/' + ${face}+'.png'" /></a>
                <a><img th:src="'/assets/images-statics/' + ${insta}+'.png'" /></a>
                <a><img th:src="'/assets/images-statics/' + ${twitter}+'.png'" /></a>
            </div>
        </div>
        <div id="column2">
            <h4>Informação</h4>
            <a>Sobre Drip Store</a>
            <a>Segurança</a>
            <a>Wishlist</a>
            <a>Blog</a>
            <a>Trabalhe Conosco</a>
            <a>Meus Pedidos</a>
        </div>
        <div id="column3">
            <h4>Categorias</h4>
            <a>Camisetas</a>
            <a>Calças</a>
            <a>Bonés</a>
            <a>Headphones</a>
            <a>Tênis</a>
        </div>
        <div id="column4">
            <h4>Contato</h4>
            <p>Av. Santos Dumont, 1510 - 1 andar - Aldeota, Fortaleza - CE, 60150-161</p>
            <span>(85) 3051-3411</span>
        </div>
    </div>
    <div id="footer-bottom">
        <div></div>
        <span>@ 2022 Digital College</span>
    </div>

</footer>


<div th:fragment="menu(username)">
    <p th:text="${username}"></p>
</div>

<div th:fragment="statusCadastro(status)">
    <p th:switch="${status}">
        <span th:case="'CADASTRADO'">CADASTRADO</span>
        <span th:case="1">ALTERADO</span>
        <span th:case="'EXCLUIDO'">EXCLUIDO</span>
        <span th:case="*">CANCELADO</span>
    </p>
</div>


<div th:fragment="displayNome(nome)">
    <p th:text="${nome} ?: 'ANÔNIMO'"></p>
</div>


<!-- CODIGO HTML DO INPUT DE CADASTRO  -->
<section th:fragment="inputCadastro(eletros,linkSalvar,eletrostipo,eletrospreco,eletrosmarca,eletrosdescricao)">
    <h1>Cadastrar Eletrodomestico</h1>

    <form method="post" th:action="${linkSalvar}" th:object="${eletros}" enctype="multipart/form-data">

        Tipo: <input type="text" th:field="${eletrostipo}">
        <p th:if="${#fields.hasErrors('tipo')}" th:errors="${eletrostipo}"></p>
        <br />

        Preço: <input type="text" th:field="${eletrospreco}">
        <p th:if="${#fields.hasErrors('preco')}" th:errors="${eletrospreco}"></p>
        <br />

        Marca: <input type="text" th:field="${eletrosmarca}">
        <p th:if="${#fields.hasErrors('marca')}" th:errors="${eletrosmarca}"></p>
        <br />

        Descrição: <input type="text" th:field="${eletrosdescricao}">
        <p th:if="${#fields.hasErrors('descricao')}" th:errors="${eletrosdescricao}"></p>
        <br />

        Imagem: Foto: <input type="file" name="file">
        <br />

        <button type="submit">Cadastrar</button>
    </form>
</section>



</body>
</html>