<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{'/css/estilos.css'}" type="text/css" rel="stylesheet">


</head>
<body>
<!--MOSTRANDO TODOS OS ELEMENTOS CADASTRADOS NO BANCO ISSO É PARA O ADMIN -->
<!--MOSTRANDO TODOS OS ELEMENTOS CADASTRADOS NO BANCO com  ISSO É PARA O ADMIN -->
<div th:replace="/fragments/commons :: header(logo,search,cart,${contador},'/verCarrinho','/doCadastrarUsuario','/login')"></div>

  <table>
    <tr th:each="eletros: ${eletrosList}">
      <td th:text="${eletros.id}"></td>
      <td th:text="${eletros.tipo}"></td>
      <td th:text="${eletros.preco}"></td>
      <td th:text="${eletros.marca}"></td>
      <td th:text="${eletros.deletado}"></td>
      <td th:text="${eletros.descricao}"></td>
      <td><img th:src="@{'/images/img-uploads/'+*{eletros.imageUri}}"></td>
      <td><a  th:href="@{'doDeletar/' + ${eletros.id}}">Deletar</a></td>
      <td ><a th:href="@{'editarPage/' + ${eletros.id}}"  >Editar</a></td>
    </tr>
  </table>
<h2> Cadastre <a th:href="@{doCadastrar}">aqui</a> </h2>
<div th:replace="/fragments/commons :: footer(logo-footer,face-footer,insta-footer,twitter-footer)"></div>


</body>
</html>