<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina de Cadastro</title>
    <link th:href="@{'/css/estilos.css'}" type="text/css" rel="stylesheet">



</head>
<body>
<div th:replace="/fragments/commons :: notSearch(logo,'/index')"></div>
<div id="container" >
    <h1>
        Cadastrar Eletrodomestico
    </h1>
    <div id="cadastro">
        <form    method ="post" th:action="@{/doSalvar}" th:object="${eletros}" enctype="multipart/form-data">
            <h1>Cadastro</h1>

            <p>
                <label for="tipoEletro"></label>
                <input id="tipoEletro" name="tipoEletro" required="required" type="text" placeholder="nome"  th:field="*{tipo}"/>
            </p>

            <p>
                <label for="precoEletro"> </label>
                <input id="precoEletro" name="precoEletro" required="required" type="text" placeholder="2.000"  th:field="*{preco}"/>
            </p>

            <p>
                <label for="marcaEletro"></label>
                <input id="marcaEletro" name="marcaEletro" required="required" type="text" placeholder="acer" th:field="*{marca}"/>
            </p>

            <p>
                <label for="descricaoEletro"></label>
                <input id="descricaoEletro" name="descricaoEletro" required="required" type="text" placeholder="descricao" th:field="*{descricao}"/>
            </p>

           Foto: <input type="file" name="file">


            <br />

            <button type ="submit">Cadastrar</button>
        </form>
    </div>

</div>
<div th:replace="/fragments/commons :: footer(logo-footer,face-footer,insta-footer,twitter-footer)"></div>


</body>
</html>