<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>D & D </title>
    <link th:href="@{'/css/estilos.css'}" type="text/css" rel="stylesheet">

</head>
<body>
<div th:replace="/fragments/commons :: notSearch(logo,'/index')"></div>
    <div id="container" >
        <h1 id="textoCadastro">Página de Cadastro de Usuários</h1>
        <form method ="post" th:action= "@{/doSalvarUsuario}" th:object="${usuario}">
            <p>
                <label for="LOGIN"></label>
                <input id="LOGIN" type="text" th:field="*{login}" placeholder="LOGIN">
            </p>

            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>

            <p>
                <label for="SENHA"></label>
                <input id="SENHA" type="text" th:field="*{senha}" placeholder="Password">
            </p>


            <p th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" ></p>
            <br />
            <div id="isadmin">
                <input type="radio" th:field="*{isadmin}" value="true"> Sim
                <input type="radio" th:field="*{isadmin}" value="false" th:checked="true"> Não
            </div>
           <br />

            <button type ="submit">Cadastrar</button>
        </form>
    </div>


<div th:replace="/fragments/commons :: footer(logo-footer,face-footer,insta-footer,twitter-footer)"></div>



</body>
</html>