<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{'/css/estilos.css'}" type="text/css" rel="stylesheet">
    <script th:src="@{/js/script.js}" defer></script>

</head>
<body>
    <!--MOSTRANDO TODOS OS ELEMENTOS CADASTRADOS NO BANCO ISSO É PARA O user -->

    <div th:replace="/fragments/commons :: header(logo,search,cart,${contador},'/verCarrinho','/doCadastrarUsuario','/login','/index')"></div>



    <p th:text="${mensagem}"></p>

        <table>
            <div th:replace="/fragments/commons :: Emalta(${eletrosList},'index','finalizarCompra')"></div>
        </table>

    <div th:replace="/fragments/commons :: footer(logo-footer,face-footer,insta-footer,twitter-footer)"></div>



</body>
</html>