<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listar todos os Usuarios</title>
    <link th:href="@{'/css/estilos.css'}" type="text/css" rel="stylesheet">

</head>
<body>
<div th:replace="/fragments/commons :: header(logo,search,cart,${contador},'/verCarrinho','/doCadastrarUsuario','/login','/index')"></div>


  <table>
    <tr th:each="Usuario: ${usuarioList}">
      <td th:text="${Usuario.id}"></td>
      <td th:text="${Usuario.login}"></td>
      <td th:text="${Usuario.senha}"></td>
      <td th:text="${Usuario.isadmin}"></td>
    </tr>
  </table>
</body>
</html>