<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{'/css/estilos.css'}" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="/fragments/commons :: notSearch(logo,'/index')"></div>

<p th:text="${mensagem}"></p>
<div id="container">
  <form th:action="@{/validar}" method="post">
    <p>
      <label for="username"></label>
      <input id="username" type="text" name="username" placeholder="Username">
    </p>

    <p>
      <label for="password"></label>
      <input id="password" type="password" name="password" placeholder="Password">
    </p>


    <button type="submit">Enviar</button>
  </form>
</div>

</body>
</html>