<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{'/css/estilos.css'}" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="/fragments/commons :: notSearch(logo,'/index')"></div>

<p th:text="${mensagem}"></p>

<form th:action="@{/validar}" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Enviar</button>
</form>
</body>
</html>